body {
  background-color: black;
  color: white;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #1f1f1f;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  box-shadow: 0px 0px 1px 1px#00d547;
  background: black;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 8px 8px #00d547;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.side:hover {
  fill: #003c3e;
}
/* 
.main {
  margin: auto;
  width: 50%;
} */

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
}

.editBox {
  border: solid #009f94;
  border-width: 1px;
  padding: 5px;
  box-shadow: 0px 0px 2px 2px #009f94;

}