body {
  background-color: black;
  color: rgb(147, 147, 147);
  font-family: 'Saira Extra Condensed', sans-serif;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #1f1f1f;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 1px 1px#00d547;
  background: black;
  cursor: pointer;
  transition:  all .5s ease;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 8px 8px #00d547;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.side {
  /* opacity: 0.7; */
  /* transition: opacity .2s; */
  transition:  all .5s ease;
}

#Heptagram {
  fill: #181818;
}

.side:hover {
  fill: #3e3e3e;   
}

.main {
  /* display: flex;
  justify-content: center; */
  padding:5px
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
  }
}

.grid-container {
  display: inline-grid;
  /* grid-column-gap: 50px; */
  /* grid-template-columns: repeat(auto-fit, 1fr); */
  /* grid-template-columns: repeat(3, minmax(240px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}


.controlBox {
  padding: 10px;
  border: solid rgb(36, 36, 36);
  border-width: 1px;
  
}

.synthControls {
  padding: 10px;
  border: solid rgb(45, 45, 45);
  border-width: 1px;
  margin: 5px;
  filter: brightness(.25);  
  transition:  all .5s ease;
}

/* .col {
  width:
} */

.synthControls:hover {
  filter: brightness(1.5);  
}

.editBox {
  margin-top: 20px;
  border: solid #7e7e7e;
  border-width: 1px;
  padding: 5px;
  box-shadow: 0px 0px 9px 9px #009f94;
  
}

#editControls {
  padding: 10px;
  border: solid rgb(45, 45, 45);
  border-width: 1px;
  margin: 5px;
  filter: brightness(1.5);  
  transition:  all .5s ease;
}

.playButton {
  background-color: black;
  /* color:white; */
  border: solid #7e7e7e;  
  border-width: 1px;
  width: 60px;
  height: 30px;
  transition:  all .25s ease;
}

.playButton:hover {
  filter: brightness(2); 
  box-shadow: 0px 0px 8px 8px #00d547;
}

.stepButton:hover {
  filter: brightness(2); 
  box-shadow: 0px 0px 8px 8px #00d547;
}

.stepButton {
  background-color: black;
  /* color:white; */
  border: solid #7e7e7e;  
  border-width: 1px;
  width: 60px;
  height: 30px;
  transition:  all .25s ease;
}

.editClose {
  background-color: black;
  color: #565656;
  border: none; 
  /* border-width: 1px; */
  width: 60px;
  height: 30px;
  transition:  all .25s ease;
  float: right;
}

.splashModal h2 {
  font-size: larger;
  /* color:  rgb(147, 147, 147); */
  -webkit-transform:scale(2,1);
  transform:scale(2,1);
}

.splashModal {
  /* padding: 0px; */
  
  /* font-size: 4vw; */
  text-align: center;
  /* background-color: black; */
  /* border: solid #7e7e7e;
  border-width: 1px; */
}

.splashModal h1 {
  -webkit-text-stroke: 1px #7e7e7e;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 39%, rgba(0,244,82,1) 51%, rgba(0,0,0,0) 63%);
  color: #00ab39;
  font-size: 5vw;
  text-shadow: 0px 0px 5px  #00f452;  
  -webkit-transform:scale(3,1);
  transform:scale(3,1);  
}

a {
  color: #00ab39;
}


