body {
  background-color: black;
  color: white;
}


.slider {
  -webkit-appearance: none;
  width: 25%;
  height: 25px;
  background: #1f1f1f;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  box-shadow: 0px 0px 1px 1px#009b05;
  background: #00ff08;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 8px 8px green;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.side:hover {
  fill: #75a986;
}

